$logofont: sovietleague
$regular: dmsans-regular
$bold: dmsans-bold
$bolditalic: dmsans-bolditalic
$italic: dmsans-italic
$medium: dmsans-medium
$mediumitalic: dmsans-mediumitalic

$basecolor: #101010
$basecolorhover: #292929
$basecolor2: #fafafa

$sizelogo: 2em
$sizeh1: 2.8em
$sizeh2: 2em
$sizeh3: 1.5em
$sizeh4: 1em
$sizep: 1em

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    scroll-behavior: smooth

body
    margin: 0

@font-face 
    font-family: sovietleague
    src: url("./fonts/sovietleague.otf")

@font-face
    font-family: dmsans-regular
    src: url("./fonts/dmsans-regular.ttf")

@font-face
    font-family: dmsans-bold
    src: url("./fonts/dmsans-bold.ttf")

@font-face
    font-family: dmsans-bolditalic
    src: url("./fonts/dmsans-bolditalic.ttf")

@font-face
    font-family: dmsans-italic
    src: url("./fonts/dmsans-italic.ttf")

@font-face
    font-family: dmsans-medium
    src: url("./fonts/dmsans-medium.ttf")

@font-face
    font-family: dmsans-mediumitalic
    src: url("./fonts/dmsans-mediumitalic.ttf")

h1
    font-family: $bold
    font-size: $sizeh1

h2
    font-family: $bold
    font-size: $sizeh2

h3
    font-family: $medium
    font-size: $sizeh3

h4
    font-family: $medium
    font-size: $sizeh4

p
    font-family: $regular
    font-size: $sizep

.logo
    font-family: $logofont
    font-size: $sizelogo
    text-decoration: none
    color: $basecolor
    padding: 0px 15px

.logo:hover
    color: $basecolorhover

ul
    list-style: none

.container
    margin: 0
    max-width: 900px
    overflow: hidden

button
    font-family: $bold
    padding: 10px 30px
    border-radius: 10px
    border: 1px solid rgba(0, 0, 0, 0.5)
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5)
    color: white
    background-color: #0b1f52

.navbar-burguer
    background-image: url("./media/svg/burguer.svg")
    background-repeat: no-repeat
    background-position: center
    background-size: 100%

.navlinks
    display: flex
    justify-content: right
    align-items: center
    font-family: $bold
    font-size: $sizeh4
    color: #101010
    text-decoration: none

    a:hover
        color: black

@mixin formato($height, $width, $color)
    height: $height
    width: $width
    color: $color
    
#hero
    @include formato(500px, 100%, white)
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    flex-direction: column
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("./media/img/herobg.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center

    h1
        color: white

#brandverse
    display: flex
    flex-direction: column
    color: $basecolor
    background-color: $basecolor2
    max-width: 100%
    padding: 100px 0px

    .text
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center

        h2
            padding: 20px 0px

#descubre
    background-color: rgb(30,30,30)
    color: white
    text-align: center

    .contenedor
        padding: 50px 12px

        .descubre-carta
            background-position: center center
            background-size: cover
            margin: 30px
            border-radius: 15px

            .carta
                background-position: center center
                background-size: cover
                padding: 50px 0px
                margin: 30px
                border-radius: 15px
            
            .carta1
                @extend .carta
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../media/img/branding.jpg")
            .carta2
                @extend .carta
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../media/img/web-dev.jpg')
            .carta3
                @extend .carta
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../media/img/graphic-design.jpg')
            .carta4
                @extend .carta
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../media/img/photography.jpg')

            p
                display: none

#montaje
    @include formato(250px, 100%, white)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../media/img/bote-kraken.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center center

    .contenedor
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        height: 80vh

        .texto
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            max-width: 250px

#explore
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    background-color: 30,30,30

    .container
        text-align: center
        padding: 50px 12px

    h2
        font-size: 6vw
        padding-bottom: 12px

    button
        font-size: 4vw

#footer
    background-color: rgb(30, 30, 30)

    p
        margin: 0
        padding: 15px
        color: white

    .container
        text-align: center
        padding: 30px 12px
        height: 100px
        max-width: 100%
        display: flex
        justify-content: center
        align-items: flex-end

#nosotros
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

    .contenedor
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        height: 80vh

        .texto
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            max-width: 250px

            h2
                padding: 15px

#brandverse2
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

    .contenedor
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        height: 80vh

        .texto
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            max-width: 250px

            h2
                padding: 15px

#servicios
    background-color: rgb(30,30,30)
    color: white
    text-align: center

    .contenedor
        padding: 50px 12px

        .servicios-carta
            background-position: center center
            background-size: cover
            margin: 30px
            border-radius: 15px

            .servi
                background-position: center center
                background-size: cover
                padding: 50px 0px
                margin: 30px
                border-radius: 15px
            
            .servi1
                @extend .servi
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("./media/img/branding.jpg")
            .servi2
                @extend .servi
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/web-dev.jpg')
            .servi3
                @extend .servi
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/graphic-design.jpg')
            .servi4
                @extend .servi
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/photography.jpg')

            ul
                display: none

#paquetes
    background-color: $basecolor2
    color: $basecolor
    text-align: center

    .contenedor
        padding: 50px 12px

        .paquetes-carta
            background-position: center center
            background-size: cover
            margin: 30px
            border-radius: 15px
            color: $basecolor2

            .paque
                background-position: center center
                background-size: cover
                padding: 50px 0px
                margin: 30px
                border-radius: 15px
            
            .paque1
                @extend .paque
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("./media/img/explorer.jpg")
            .paque2
                @extend .paque
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/global.jpg')
            .paque3
                @extend .paque
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/universal.jpg')

            p
                display: none

            ul
                display: none

#portafolio
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    max-width: 100%

    .contenedor
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        
        .texto
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            max-width: 250px

            h2
                font-size: $sizeh2
                color: $basecolor
                padding-top: 50px

            .texto2
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                max-width: 250px
                
                p
                    font-family: $bold


        h2 
            display: flex
            text-decoration: none
            color: $basecolor
            font-size: $sizep
            padding-bottom: 30px

        .galeria-grid
            padding-top: 5px
            padding-bottom: 10px
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-auto-rows: 160px
            grid-template-areas:"img1 img2""img3 img4""img5 img6""img7 img8""img9 img10""img11 img12""img13 img14"
            gap: .8em

        .portafolio-galeria
            position: relative
            cursor: pointer
            overflow: hidden

            .portafolio-galeria:hover::before
                transform: scale(100%)

            .portafolio-galeria-foto1
                    grid-area: img1

            .portafolio-galeria-foto2
                grid-area: img2

            .portafolio-galeria-foto3
                grid-area: img3

            .portafolio-galeria-foto4
                grid-area: img4

            .portafolio-galeria-foto5
                grid-area: img5

            .portafolio-galeria-foto6
                grid-area: img6

            .portafolio-galeria-foto7
                grid-area: img7

            .portafolio-galeria-foto8
                grid-area: img8

            .portafolio-galeria-foto9
                grid-area: img9

            .portafolio-galeria-foto10
                grid-area: img10

            .portafolio-galeria-foto11
                grid-area: img11

            .portafolio-galeria-foto12
                grid-area: img12

            .galeria-img
                width: 100%
                height: 100%
                object-fit: cover

.subir
    height: 50px
    width: 50px
    background-color: $basecolor
    position: fixed
    bottom: 40px
    right: 40px
    text-align: center
    font-size: 20px
    line-height: 45px
    color: white
    border: 2px $basecolor2
    border-radius: 50%
    text-decoration: none

@media (max-width:768px)
    .descubre-grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-areas:"cartat cartat""carta1 carta2""carta3 carta4"
    
    .galeria-grid
        grid-template-columns: 3fr 1fr
        grid-template-areas:"img1 img2 img3""img1 img5 img3""img4 img5 img6""img9 img7 img6""img9 img11 img8""img10 img11 img12""img13 img14 img12"
    
    .portafolio-galeria::before
        font-size: 1rem
    
