$logofont: sovietleague
$regular: dmsans-regular
$bold: dmsans-bold
$bolditalic: dmsans-bolditalic
$italic: dmsans-italic
$medium: dmsans-medium
$mediumitalic: dmsans-mediumitalic

$basecolor: #101010
$basecolorhover: #292929
$basecolor2: #fafafa

$sizelogo: 2rem
$sizeh1: 2.8rem
$sizeh2: 2rem
$sizeh3: 1.5rem
$sizeh4: 1rem
$sizep: 1rem

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    scroll-behavior: smooth

body
    max-width: 100%

@font-face 
    font-family: sovietleague
    src: url("./fonts/sovietleague.otf")

@font-face
    font-family: dmsans-regular
    src: url("./fonts/dmsans-regular.ttf")

@font-face
    font-family: dmsans-bold
    src: url("./fonts/dmsans-bold.ttf")

@font-face
    font-family: dmsans-bolditalic
    src: url("./fonts/dmsans-bolditalic.ttf")

@font-face
    font-family: dmsans-italic
    src: url("./fonts/dmsans-italic.ttf")

@font-face
    font-family: dmsans-medium
    src: url("./fonts/dmsans-medium.ttf")

@font-face
    font-family: dmsans-mediumitalic
    src: url("./fonts/dmsans-mediumitalic.ttf")

h1
    font-family: $bold
    font-size: $sizeh1
    margin: 0

h2
    font-family: $bold
    font-size: $sizeh2
    margin: 0

h3
    font-family: $medium
    font-size: $sizeh3
    margin: 0

h4
    font-family: $medium
    font-size: $sizeh4
    margin: 0

p
    font-family: $regular
    font-size: $sizep
    margin: 0

.logo
    font-family: $logofont
    font-size: $sizelogo
    text-decoration: none
    color: $basecolor
    padding: 0px 15px

.logo:hover
    color: $basecolorhover

ul
    list-style: none

.container
    margin: 0
    max-width: 100%
    overflow: hidden

button
    font-family: $bold
    padding: 10px 30px
    border-radius: 10px
    border: 1px solid rgba(0, 0, 0, 0.5)
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5)
    color: white
    background-color: #0b1f52
    margin: 0

.navbar-burguer
    background-image: url("./media/svg/burguer.svg")
    background-repeat: no-repeat
    background-position: center
    background-size: 100%

.navlinks
    display: flex
    justify-content: right
    align-items: center
    font-family: $bold
    font-size: $sizeh4
    color: #101010
    text-decoration: none

    a:hover
        color: black

@mixin formato($height, $width, $color)
    height: $height
    width: $width
    color: $color
    
#hero
    @include formato(500px, 100%, white)
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    flex-direction: column
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("./media/img/herobg.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center

    h1
        color: white
        padding: 20px 30px

    p
            margin: 0
            padding: 30px

#brandverse
    display: flex
    flex-direction: column
    color: $basecolor
    background-color: $basecolor2
    max-width: 100%
    padding: 100px 0px

    .text
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center

        h2
            padding: 20px 30px
            margin: 0

        p
            margin: 0
            padding: 30px

#descubre
    background-color: rgb(30,30,30)
    color: white
    text-align: center
    max-width: 100%

    .contenedor
        padding: 50px 12px
        max-width: 100%

        h2
            margin: 0
            padding: 0px 10px

        .descubre-carta
            display: flex
            flex-direction: column
            justify-content: center
            align-content: center
            align-items: center
            background-position: center center
            background-size: cover
            border-radius: 15px

            .carta
                background-position: center center
                background-size: cover
                padding: 50px 0px
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5)
                margin: 30px
                border-radius: 15px
                width: 300px
                height: 150px
                text-align: center
            
            .carta1
                @extend .carta
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("./media/img/branding.jpg")
            
            .carta2
                @extend .carta
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/web-dev.jpg')
            
            .carta3
                @extend .carta
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/graphic-design.jpg')

            .carta4
                @extend .carta
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/photography.jpg')

            h3
                display: flex
                flex-direction: column
                justify-content: center
                align-content: center
                margin: 0

            p
                display: none

#montaje
    @include formato(250px, 100%, white)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/bote-kraken.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center center

    .contenedor
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        height: 80vh

        .texto
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            min-width: 300px

            h2
                padding: 0px 0px 20px 0px

            p
                padding: 0px 30px

#explore
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    background-color: 30,30,30

    .container
        text-align: center
        padding: 50px 12px

    h2
        font-size: 6vw
        padding-bottom: 12px

    button
        font-size: 4vw

#contacto
    @include formato(500px, 100%, white)
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    flex-direction: column
    
    .contacto-container
        max-width: 500px
        padding-bottom: 150px

#footer
    background-color: rgb(30, 30, 30)

    p
        margin: 0
        padding: 15px
        color: white

    .container
        text-align: center
        padding: 30px 12px
        height: 100px
        max-width: 100%
        display: flex
        justify-content: center
        align-items: flex-end

#nosotros
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

    .contenedor
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        height: 80vh
        max-width: 350px

        .texto
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            max-width: 300px

            h2
                padding: 15px

            p
                padding: 0px 20px

#brandverse2
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

    .contenedor
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        height: 80vh
        width: 350px

        .texto
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            max-width: 300px

            h2
                padding: 15px

            p
                padding: 0px 20px

#servicios
    background-color: rgb(30,30,30)
    color: white
    text-align: center

    .contenedor
        padding: 50px 12px

        .servicios-carta
            display: flex
            flex-direction: column
            justify-content: center
            align-content: center
            align-items: center
            background-position: center center
            background-size: cover
            border-radius: 15px

            .servi
                display: flex
                flex-direction: column
                justify-content: center
                background-position: center center
                background-size: cover
                padding: 50px 0px
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5)
                margin: 30px
                border-radius: 15px
                width: 300px
                height: 150px
                text-align: center
            
            .servi1
                @extend .servi
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("./media/img/branding.jpg")
            
            .servi2
                @extend .servi
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/web-dev.jpg')
            
            .servi3
                @extend .servi
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/graphic-design.jpg')
            .servi4
                @extend .servi
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/photography.jpg')

            h3
                display: flex
                flex-direction: column
                justify-content: center
                align-content: center
                margin: 0
                padding: 20px 0px

            ul
                display: none

            .cotizar
                padding: 0px 0px 20px

#paquetes
    background-color: $basecolor2
    color: $basecolor
    text-align: center

    .contenedor
        padding: 50px 12px

        .paquetes-carta
            display: flex
            flex-direction: column
            justify-content: center
            align-content: center
            align-items: center
            background-position: center center
            background-size: cover
            border-radius: 15px
            color: $basecolor2

            .paque
                display: flex
                flex-direction: column
                justify-content: center
                background-position: center center
                background-size: cover
                padding: 50px 0px
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5)
                margin: 30px
                border-radius: 15px
                width: 300px
                height: 150px
                text-align: center
            
            .paque1
                @extend .paque
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("./media/img/explorer.jpg")
            
            .paque2
                @extend .paque
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/global.jpg')
            
            .paque3
                @extend .paque
                background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/universal.jpg')

            h3
                display: flex
                flex-direction: column
                justify-content: center
                align-content: center
                margin: 0
                padding: 20px 0px

            p
                display: none

            ul
                display: none

            .quiero
                padding: 0px 0px 20px

#portafolio
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    max-width: 100%

    .contenedor
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        
        .texto
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            max-width: 250px
            padding-bottom: 30px

            h2
                font-size: $sizeh2
                color: $basecolor
                padding-top: 50px

            .porta-parraf
                padding: 20px 0px

            .texto2
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                max-width: 250px
                
                .porta-parraf2
                    font-family: $bold
                    padding: 10px 0px

        .behance 
            display: flex
            text-decoration: none
            color: $basecolor
            font-size: $sizep
            padding: 40px


        .galeria-grid
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-auto-rows: 160px
            grid-template-areas:"img1 img2""img3 img4""img5 img6""img7 img8""img9 img10""img11 img12""img13 img14"
            gap: .8em

            .portafolio-galeria
                position: relative
                cursor: pointer
                overflow: hidden
                margin: 0

            .portafolio-galeria:hover::before
                transform: scale(100%)

            .portafolio-galeria-foto1
                grid-area: img1

            .portafolio-galeria-foto2
                grid-area: img2

            .portafolio-galeria-foto3
                grid-area: img3

            .portafolio-galeria-foto4
                grid-area: img4

            .portafolio-galeria-foto5
                grid-area: img5

            .portafolio-galeria-foto6
                grid-area: img6

            .portafolio-galeria-foto7
                grid-area: img7

            .portafolio-galeria-foto8
                grid-area: img8

            .portafolio-galeria-foto9
                grid-area: img9

            .portafolio-galeria-foto10
                grid-area: img10

            .portafolio-galeria-foto11
                grid-area: img11

            .portafolio-galeria-foto12
                grid-area: img12

            .portafolio-galeria-foto13
                grid-area: img13

            .portafolio-galeria-foto14
                grid-area: img14

            .galeria-img
                width: 100%
                height: 100%
                object-fit: cover

.subir
    height: 50px
    width: 50px
    background-color: $basecolor
    position: fixed
    bottom: 40px
    right: 40px
    text-align: center
    font-size: 20px
    line-height: 45px
    color: white
    border: 2px $basecolor2
    border-radius: 50%
    text-decoration: none

@media ( min-width: 768px )

    #descubre
        
        .contenedor

            .descubre-carta
                padding: 0px 80px
                display: flex
                flex-wrap: wrap
                flex-direction: row

                .carta
                    background-position: center center
                    background-size: cover
                    padding: 50px 0px
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5)
                    width: 250px
                    height: 300px
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-content: center
                    text-align: center
                
                .carta1
                    background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.8)),url("./media/img/branding.jpg")

                    h3
                        margin: 0
                        padding: 0px 20px 20px 20px

                    p
                        display: flex
                        justify-content: center
                        padding: 0px 30px
                        margin: 0

                .carta2
                    background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.8)),url('./media/img/web-dev.jpg')

                    h3
                        margin: 0
                        padding: 0px 20px 20px 20px
                    p
                        display: flex
                        justify-content: center
                        padding: 0px 30px
                        margin: 0

                .carta3
                    background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.8)),url('./media/img/graphic-design.jpg')

                    h3
                        margin: 0
                        padding: 0px 20px 20px 20px

                    p
                        display: flex
                        justify-content: center
                        padding: 0px 30px
                        margin: 0

                .carta4
                    background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.8)),url('./media/img/photography.jpg')

                    h3
                        margin: 0
                        padding: 0px 20px 20px 20px

                    p
                        display: flex
                        justify-content: center
                        padding: 0px 30px
                        margin: 0
    
    #montaje
        @include formato(400px, 100%, white)
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/bote-kraken.jpg')
        background-repeat: no-repeat
        background-size: cover
        background-position: center center

        .contenedor
            display: flex
            flex-direction: column
            justify-content: center
            text-align: center
            height: 80vh

            .texto
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                max-width: 700px


                h2
                    font-size: 3vw
                    padding-bottom: 30px
                    margin: 0

    #explore
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        background-color: 30,30,30
        height: 300px

        .container
            text-align: center
            padding: 50px 12px

        h2
            font-size: 3vw
            padding-bottom: 50px

        button
            font-size: 2vw

    #servicios
        
        .contenedor

            .servicios-carta
                padding: 0px 80px
                display: flex
                justify-content: center
                flex-wrap: wrap
                flex-direction: row
                
                .servi
                    background-position: center center
                    background-size: cover
                    padding: 50px 0px
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5)
                    width: 250px
                    height: 300px
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-content: center
                    text-align: center

                .servi1
                    background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.8)),url("./media/img/branding.jpg")

                    h3
                        margin: 0
                        padding: 0px 20px 20px 20px

                    ul
                        display: flex
                        flex-direction: column
                        justify-content: center center
                        align-content: center
                        text-align: left
                        width: 250px
                        padding: 0px 20px
                        padding-bottom: 20px
                        margin: 0

                    .cotizar
                        display: block

                .servi2
                    background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.8)),url('./media/img/web-dev.jpg')

                    h3
                        margin: 0
                        padding: 0px 20px 20px 20px

                    ul
                        display: flex
                        flex-direction: column
                        justify-content: center center
                        align-content: center
                        text-align: left
                        width: 250px
                        padding: 0px 20px
                        padding-bottom: 20px
                        margin: 0

                    .cotizar
                        display: block

                .servi3
                    background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/graphic-design.jpg')

                    h3
                        margin: 0
                        padding: 0px 20px 20px 20px

                    ul
                        display: flex
                        flex-direction: column
                        justify-content: center center
                        align-content: center
                        text-align: left
                        width: 250px
                        padding: 0px 20px
                        padding-bottom: 20px
                        margin: 0

                    .cotizar
                        display: block

                .servi4
                    background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/photography.jpg')

                    h3
                        margin: 0
                        padding: 0px 20px 20px 20px

                    ul
                        display: flex
                        flex-direction: column
                        justify-content: center center
                        align-content: center
                        text-align: left
                        width: 250px
                        padding: 0px 20px
                        padding-bottom: 20px
                        margin: 0

                    .cotizar
                        display: block

    #paquetes

        .contenedor

            h2
                margin: 0

            .paquetes-carta
                padding: 0px 80px
                display: flex
                justify-content: center
                flex-wrap: wrap
                flex-direction: row

                .paque
                    background-position: center center
                    background-size: cover
                    padding: 50px 0px
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5)
                    width: 250px
                    height: 350px
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-content: center
                    text-align: center
                
                .paque1
                    background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("./media/img/explorer.jpg")

                    h3
                        margin: 0
                        padding: 0px 20px 20px 20px

                    p
                        display: flex
                        flex-direction: column
                        justify-content: center
                        padding: 0px 0px 10px
                        margin: 0

                    ul
                        display: flex
                        flex-direction: column
                        justify-content: center center
                        align-content: center
                        text-align: left
                        width: 250px
                        padding: 0px 20px
                        padding-bottom: 20px
                        margin: 0

                    .quiero
                        display: block
                        padding: 10px 0px

                .paque2
                    background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/global.jpg')

                    h3
                        margin: 0
                        padding: 0px 20px 20px 20px

                    p
                        display: flex
                        flex-direction: column
                        justify-content: center
                        padding: 0px 0px 10px
                        margin: 0

                    ul
                        display: flex
                        flex-direction: column
                        justify-content: center center
                        align-content: center
                        text-align: left
                        width: 250px
                        padding: 0px 20px
                        padding-bottom: 20px
                        margin: 0

                    .quiero
                        display: block
                        padding: 10px 0px

                .paque3
                    background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./media/img/universal.jpg')

                    h3
                        margin: 0
                        padding: 0px 20px 20px 20px

                    p
                        display: flex
                        flex-direction: column
                        justify-content: center
                        padding: 0px 0px 10px
                        margin: 0

                    ul
                        display: flex
                        flex-direction: column
                        justify-content: center center
                        align-content: center
                        text-align: left
                        width: 250px
                        padding: 0px 20px
                        padding-bottom: 20px
                        margin: 0

                    .quiero
                        display: block
                        padding: 10px 0px

    #portafolio

        .contenedor

            .texto
                padding-bottom: 30px
                max-width: 500px

                .texto2
                    display: flex
                    flex-direction: row
                    justify-content: center
                    align-items: center
                    max-width: 100%

                    .porta-parraf2
                        padding: 0px 20px

            .galeria-grid
                display: grid
                grid-template-columns: repeat(3, 1fr)
                grid-auto-rows: 160px
                grid-template-areas:"img1 img2 img4""img5 img3 img8""img14 img7 img9""img13 img11 img12""img10 img6 img6"
                gap: .8em

            .portafolio-galeria
                position: relative
                cursor: pointer
                overflow: hidden

                .portafolio-galeria:hover::before
                    transform: scale(100%)

                .portafolio-galeria-foto1
                    grid-area: img1

                .portafolio-galeria-foto2
                    grid-area: img2

                .portafolio-galeria-foto3
                    grid-area: img3

                .portafolio-galeria-foto4
                    grid-area: img4

                .portafolio-galeria-foto5
                    grid-area: img5

                .portafolio-galeria-foto6
                    grid-area: img8

                .portafolio-galeria-foto7
                    grid-area: img14

                .portafolio-galeria-foto8
                    grid-area: img6

                .portafolio-galeria-foto9
                    grid-area: img9

                .portafolio-galeria-foto10
                    grid-area: img10

                .portafolio-galeria-foto11
                    grid-area: img11

                .portafolio-galeria-foto12
                    grid-area: img12

                .portafolio-galeria-foto13
                    grid-area: img13

                .portafolio-galeria-foto14
                    grid-area: img7

                .galeria-img
                    width: 100%
                    height: 100%
                    object-fit: cover

            .behance 
                display: flex
                text-decoration: none
                color: $basecolor
                font-size: $sizeh3
                padding: 60px

@media ( min-width: 610px )

    #nosotros

        .contenedor
            max-width: 600px

            .texto
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                max-width: 550px
                
                h2
                    padding: 15px

@media ( min-width: 930px )

    #nosotros

        .contenedor
            max-width: 800px

            .texto
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                max-width: 750px
                
                h2
                    padding: 15px

@media ( min-width: 1200px )

    #explore
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        background-color: 30,30,30
        height: 400px

        .container
            text-align: center
            padding: 50px 12px

        h2
            font-size: 2vw
            padding-bottom: 50px

        button
            font-size: 1.8vw

    #portafolio

        .contenedor

            .texto
                padding-bottom: 50px
                max-width: 800px

                .texto2
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    align-items: center
                    max-width: 100%

            .galeria-grid
                display: grid
                grid-template-columns: repeat(4, 1fr)
                grid-auto-rows: 200px
                grid-template-areas:"img1 img2 img3 img4""img5 img6 img7 img8""img9 img10 img11 img12""img13 img13 img14 img14"
                gap: 2em

            .behance 
                display: flex
                text-decoration: none
                color: $basecolor
                font-size: $sizeh2
                padding: 100px